[run]
include =
  */varats/*
  */varats-core/*
  */tests/*

find_namespace_packages = True

[paths]
source =
  varats/varats/
  */site-packages/varats/
  */site-packages/varats-core/

[report]
ignore_errors = True
