[run]
include =
  */varats/*
  */tests/*

omit =
  */site-packages/*

[paths]
source =
  varats/varats/
  varats-core/varats/
  */site-packages/varats/
  */site-packages/varats-core/

[report]
ignore_errors = True
