[run]
include =
  */varats/*
  */varats-core/*
  */tests/*

source =
  varats/varats/
  varats-core/varats/

source_pkgs =
  varats

[paths]
source =
  varats/varats/
  */site-packages/varats/
  */site-packages/varats-core/

[report]
ignore_errors = True
