*.*.swp
*.pyo
*.pyc
*egg-info*/
.eggs
notebooks/.ipynb_checkpoints/
Pipfile
.idea/
.coverage
.mypy_cache/
extra_tests/
.vscode/settings.json
docs/build
requests_cache.sqlite
env
venv
build/
.tox/
docs/source/.varats.yaml
docs/**/*.inc
