# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: requirements-txt-fixer
    -   id: name-tests-test
        args: ['--django']
-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        name: isort (python)
-   repo: https://github.com/timothycrosley/isort.git
    rev: 4.3.21
    hooks:
    - id: isort
      args: ['-nis']
-   repo: https://github.com/myint/docformatter.git
    rev: v1.1
    hooks:
    - id: docformatter
      args: ['--in-place', '--wrap-summaries=80', '--wrap-descriptions=80', '--pre-summary-newline']
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: 'v0.29.0'  # Use the sha / tag you want to point at
    hooks:
    -   id: yapf
exclude: ^tests/TEST_INPUTS/.*$
