dist: bionic
language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"

addons:
  apt:
    packages:
      - time
      - git
      - libgit2-dev
      - ninja-build

env:
  - BB_TMP_DIR=$TRAVIS_BUILD_DIR/benchbuild/tmp

install:
  - pip install ./varats-core
  - pip install ./varats
  - pip install -r requirements.txt
  - pip install codecov
  - pip install pytest-cov
  - pip install coverage
  # Currently, mypy-0.782 miss detects type errors, this bug is fixed upstream
  - python3 -m pip install -U git+git://github.com/python/mypy.git

script:
  - pre-commit run --from-ref origin/vara-dev --to-ref HEAD
  - mkdir -p benchbuild
  # - coverage run -p -m pytest varats varats-core tests
  - pytest --cov=./ varats varats-core tests
  - rm -rf benchbuild
  - ./run_extra_tests.sh
  - coverage combine -a
  - coverage report
  ######
  # Uninstalling `rich` is a hack to make the code base checkable with mypy.
  # mypy get's confused when discovering rich and by that does no longer any
  # type checking.
  ######
  - pip uninstall -y rich
  ######
  - mypy --strict -p varats

after_success:
  - codecov

branches:
  only:
    - vara
    - vara-dev
