sudo: false
dist: xenial
language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"

addons:
  apt:
    packages:
      - time
      - git
      - libgit2-dev
      - ninja

install:
  - pip install .
  - pip install -r requirements.txt
  - pip install codecov
  - pip install pytest-cov

script:
  - pytest --cov=./ varats tests
  - git clone https://git.savannah.gnu.org/git/gzip.git gzip
  - mkdir -p paper_configs/test/
  - coverage run -a `which vara-gen-commitmap` gzip/ case-study half_norm paper_configs/test/
  - codecov

branches:
  only:
    - vara
    - vara-dev
