sudo: false
dist: xenial
language: python
python:
  - "3.6"
  - "3.7"

addons:
  apt:
    packages:
      - time
      - git
      - libgit2-dev
      - ninja

install:
  - pip install .
  - pip install -r requirements.txt
  - pip install codecov
  - pip install pytest-cov
  - pip install coverage
  - pip install mypy

script:
  - mkdir -p paper_configs/test/
  - mkdir -p data_cache
  - git clone https://git.savannah.gnu.org/git/gzip.git gzip
  - pytest --cov=./ varats tests
  - ./run_extra_tests.sh
  - coverage combine -a
  - coverage report
  - mypy --strict varats

after_success:
  - codecov

branches:
  only:
    - vara
    - vara-dev
