sudo: false
dist: xenial
language: python
python:
  - "3.6"
  - "3.7"

addons:
  apt:
    packages:
      - time
      - git
      - libgit2-dev
      - ninja

install:
  - pip install .
  - pip install -r requirements.txt
  - pip install codecov
  - pip install pytest-cov

env:
  - VARA_PAPER_CONFIG_FOLDER=paper_configs/ VARA_PAPER_CONFIG_CURRENT_CONFIG=test

script:
  - mkdir -p paper_configs/test/
  - git clone https://git.savannah.gnu.org/git/gzip.git gzip
  - pytest --cov=./ varats tests
  - wc -m .coverage
  - coverage run -a `which vara-buildsetup` -c
  - wc -m .coverage
  - coverage run -a `which vara-cs` gen paper_configs/test/ half_norm gzip/
  - wc -m .coverage
  - coverage run -a `which vara-cs` ext paper_configs/test/gzip_0.case_study simple_add gzip/ --extra-revs 0dd8313ea7bce --merge-stage 3
  - wc -m .coverage
  - coverage run -a `which vara-cs` ext paper_configs/test/gzip_0.case_study distrib_add gzip/ --distribution uniform --num-rev 5
  - coverage run -a `which vara-cs` status
  - codecov

branches:
  only:
    - vara
    - vara-dev
